# Exercise 1

### Step 1. Go to https://www.kaggle.com/openfoodfacts/world-food-facts/data

### Step 2. Download the dataset to your computer and unzip it.

### Step 3. Use the tsv file and assign it to a dataframe called food

In [1]:
import pandas as pd

food = pd.read_table('food.tsv')

/tmp/ipykernel_58089/3032428364.py:3: DtypeWarning: Columns (0,3,5,19,20,24,25,26,27,28,36,37,38,39,48) have mixed types. Specify dtype option on import or set low_memory=False.
  food = pd.read_table('food.tsv')

### Step 4. See the first 5 entries

In [ ]:
food.head()

### Step 5. What is the number of observations in the dataset?

In [2]:
food.shape[0]

356027

### Step 6. What is the number of columns in the dataset?

In [3]:
food.shape[1]

163

### Step 7. Print the name of all the columns.

In [4]:
food.columns

Index(['code', 'url', 'creator', 'created_t', 'created_datetime',
       'last_modified_t', 'last_modified_datetime', 'product_name',
       'generic_name', 'quantity',
       ...
       'fruits-vegetables-nuts_100g', 'fruits-vegetables-nuts-estimate_100g',
       'collagen-meat-protein-ratio_100g', 'cocoa_100g', 'chlorophyl_100g',
       'carbon-footprint_100g', 'nutrition-score-fr_100g',
       'nutrition-score-uk_100g', 'glycemic-index_100g',
       'water-hardness_100g'],
      dtype='object', length=163)

### Step 8. What is the name of 105th column?

In [5]:
food.columns[104]

'-glucose_100g'

### Step 9. What is the type of the observations of the 105th column?

In [7]:
food.iloc[:, 104].dtype

dtype('float64')

### Step 10. How is the dataset indexed?

In [8]:
food.index

RangeIndex(start=0, stop=356027, step=1)

### Step 11. What is the product name of the 19th observation?

In [9]:
food['product_name'].iloc[18]

'Lotus Organic Brown Jasmine Rice'